
.thumbnail {
    width: 100%;

}


.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-title a:link{
    color: black;
    text-decoration: none;
    
}

.video-title a:visited{
    text-decoration: none;
    color: black;
}
.video-title a:hover{
    text-decoration: none;
    color: black;
}
.video-title a:active{
    text-decoration: none;
    color: black;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;

}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.channel-picture-container{
    
    position: relative;
    display: inline-block;
   
}

.channel-tooltip{
    position: absolute;
    background-color: white;
    width: 190px;
    padding: 12px 12px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    top: 30px;
    z-index: 300px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    transition: opacity 0.15s;
}

.channel-picture-container:hover .channel-tooltip{
    opacity: 1;
}
.channel-tooltip-picture{
    width: 40;
    height: 40px;
    border-radius: 40px;
    margin-right: 8px;
}

.channel-tooltip-name{
    
    font-weight: bold;
    font-family: roboto, arial;
    font-size: 16px;
    margin-bottom: 4px;
    
}
.channel-tooltip-stats{
    font-family: roboto,arial;
    color: rgb(97, 97, 97);
    font-size: 14px;
}


.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    
}

@media (max-width:750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width:751px) and (max-width:999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
}
@media (min-width:1200px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-author, .video-stats{
        font-size: 14px;
    }
    
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-family: roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    padding: 4px;
}